.block-text {
  font-family: $lato;

  &__h {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $dark-grey;
  }

  &__p {
    color: $grey;
    &--big {
      font-size: 18px;
      margin-top: 36px;
      line-height: 2;
    }
    &--small {
      font-size: 16px;
      margin-top: 30px;
      line-height: 1.5;

      &:after {
        content: "";
        width: 50px;
        display: block;
        margin: 0 auto;
        margin-top: 42px;
        border-bottom: 1px solid $border-text;
      }
    }
  }
}
