.icon {
  &:before {
    content: "";
    display: block;
    margin: 0 auto 35px;
  }

  &--chain:before {
    background: url(../images/chain.png);
    width: 50px;
    height: 43px;
  }

  &--body:before {
    background: url(../images/body-icon.png);
    width: 41px;
    height: 30px;
  }

  &--la-boriosa:before {
    background: url(../images/la-boriosa.png);
    width: 32px;
    height: 32px;
  }

  &--retro:before {
    background: url(../images/retro.png);
    width: 23px;
    height: 41px;
  }

  &--twit:before {
    background: url(../images/twit.png);
    width: 32px;
    height: 27px;
  }

  &--logo:before {
    background: url(../images/logo.png);
    width: 94px;
    height: 85px;
  }
}
