$lato: "Lato", sans-serif;
$grey: #848789;
$border-text: #d7d7d7;
$menu: #4d4959;
$cold-blue: #64c29e;
$white: #ffffff;
$bottom-background: #f7f7f7;
$checkbox-color: #a9afb3;
$curtain: #58a589;
$grey-light: #94979a;
$dark: #282f35;
$dark-grey: #353738;
