.bottom-block {
  width: 100%;
  padding: 96px 5% 105px;
  font-family: $lato;
  color: $grey;
  background: $bottom-background;
  display: flex;
  justify-content: center;

  &__container {
    width: 1110px;
    display: flex;
    justify-content: space-between;
  }

  &__office {
    display: flex;
    flex-basis: 33.3%;
    flex-direction: column;
  }

  &__span {
    display: flex;

    &--one {
      font-size: 16px;
      font-weight: bold;
    }
    &--two {
      font-size: 14px;
      font-style: italic;
    }
    &--three {
      font-size: 14px;
      font-style: italic;
    }
  }
  &__img {
    transition: 1s;
    margin: 0 5px;
    &:hover {
      opacity: 0.6;
    }

    &--position {
      vertical-align: middle;
    }
  }

  &__social {
    flex-basis: 33.3%;
    display: flex;
    width: 135px;
    justify-content: center;
    align-items: center;
  }

  &__author {
    flex-basis: 33.3%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &-text {
      font-size: 14px;
      font-style: italic;
      margin-right: 15px;
    }
  }
}

@media screen and (max-width: 630px) {
  .bottom-block {
    padding: 50px 0 50px;

    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__office {
      text-align: center;
    }
    &__span {
      display: block;
      text-align: center;
    }

    &__social {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

