.section-vintage {
  width: 100%;
  background: #f7f7f7;
  padding: 117px 0 143px;

  &__text {
    margin: 0 auto;
    max-width: 1082px;
    text-align: center;
  }
}

@media screen and (max-width: 1150px) {
  .section-vintage {
    padding-left: 10%;
    padding-right: 10%;
  }
}
