.section-form {
  display: flex;
  flex-direction: column;
  font-family: $lato;
  font-style: italic;
  align-items: center;
  background: $white;
  padding: 227px 0 111px;

  &__text {
    font-size: 24px;
    color: $grey;
  }
  &__my-form {
    margin-top: 40px;
    vertical-align: top;
  }
  &__input {
    padding: 27px;
    font-size: 20px;
    width: 400px;
    max-width: 100%;
    border: 1px solid $grey;

    &::placeholder {
      font: italic 20px $lato;
    }
  }
  &__button {
    padding: 26px 47px;
    font-size: 24px;
    background: $cold-blue;
    border: 0;
    color: $white;
    margin-left: 8px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: 570px) {
  .section-form {
    &__my-form {
      margin-top: 40px;
      width: 80%;
    }

    &__input {
      display: block;
      width: 100%;
    }
    &__button {
      width: 100%;
      display: block;
      margin: 40px 0% 0;
    }
  }
}
