.section-carousel {
  width: 100%;
  background: #f7f7f7;
  padding: 184px 0 68px;

  &__text {
    max-width: 1082px;
    text-align: center;
    font-family: "Lato", sans-serif;
    display: none;
    margin: 0 auto;
  }

  &__h {
    font-weight: bold;
    color: #353738;
    font-size: 18px;
    margin-top: 36px;
    letter-spacing: 3px;
  }

  &__span {
    color: #848789;
    font-weight: lighter;
  }

  &__p {
    font-style: italic;
    color: #848789;
    font-size: 24px;
    margin-top: 36px;
    line-height: 1.5;
  }
  &__radio {
    position: absolute;
    visibility: hidden;
    bottom: 9999px;
  }

  &__radio-one {
    &:checked ~ .section-carousel__text-one {
      display: block;
    }

    &:checked
      ~ .section-carousel__inputs
      .section-carousel__input-elem-one:after {
      background: #a9afb3;
    }
  }

  &__radio-two {
    &:checked ~ .section-carousel__text-two {
      display: block;
    }

    &:checked
      ~ .section-carousel__inputs
      .section-carousel__input-elem-two:after {
      background: #a9afb3;
    }
  }

  &__radio-three {
    &:checked ~ .section-carousel__text-three {
      display: block;
    }

    &:checked
      ~ .section-carousel__inputs
      .section-carousel__input-elem-three:after {
      background: #a9afb3;
    }
  }

  &__inputs {
    text-align: center;
    margin-top: 125px;
  }

  &__input-elem {
    &:after {
      content: "";
      display: inline-block;
      width: 11px;
      height: 11px;
      border: 1px solid #a9afb3;
      border-radius: 10px;
    }
  }
  &__input-elem--space {
    margin: 0 9px;
  }
}
