* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "fonts";
@import "wrapper";
@import "common/logo";
@import "common/list";
@import "header";
@import "common/icon";
@import "section-vintage";
@import "common/block-text";
@import "common/section-oliva-boriosa";
@import "common/img-icon";
@import "section-carousel";
@import "section-gallery";
@import "section-links";
@import "section-form";
@import "bottom-block";

